/*body {
  margin-top: 15vw;
  margin-left: 15vw;
}
*/

div.question {
  display: inline-block;
  width: 80vw;
  padding-top: 4.065vh;
}

.question span {
  font-size: 30px;
}

div.search {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;
}
.search span {
  width: 15vw;
  font-size: 20px;
}

.btn-info {
  float: right;
  background-color: #ff0000;
  color: white;
  margin-left: 10px;
}

hr {
  width: 80vw;
}

p {
  width: 80vw;
  margin-top: 50px;
  text-align: center;
}
